{
  "extends": [
    "airbnb"
  ],
  "root": true,
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "guard-for-in": 0,
    "import/no-extraneous-dependencies": 0,
    "no-continue": 0,
    "no-plusplus": 0,
    "no-process-env": "error",
    "no-restricted-syntax": 0,
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true
      }
    ],
    "padded-blocks": 0,
    "prefer-template": 0,
    "radix": 0,
    "strict": 0,
    "valid-typeof": 0
  }
}
